/*customCSS*/
body{
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    color: #696969;
    line-height: 22px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.pdt-15{padding-top: 15px;}
a:focus. a:hover{
    text-decoration: none;
}


.header-top {
    background: #366A9F;
}
.header-top-area {
    justify-content: space-between;
    align-items: center;
}
ul{
    padding: 0;
    margin: 0;
}
.header-top * {
    color: #fff;
}
ul li {
    list-style: none;
    padding: 5px 0;
}
ul.left {
    display: flex;
    padding: 0;
    margin: 0;
}
.header-bottom{
    background: #fff;
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.16);
-moz-box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.16);
box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.16);
}
.header-top-area .left li i {
    margin-right: 5px;
}
.header-top-area .left li {
    padding: 14px 20px;
}
.header-top a, .header-top a:hover {
    color: #fff;
    text-decoration: none;
}
.navbar-nav .nav-link.active{
    color: #366A9F;
}
.navbar-nav .nav-link{
    color: #696969;
}
.header-bottom .navbar-toggler:focus{
        box-shadow: none;
    }
.header-bottom .navbar-toggler-icon .fa-bars {
    color: #366a9f;
}
img{
    width: 100%;
}
/*
.banner-wrap{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imges/mainbanner.png);
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	color: #fff;
}
*/
.main-banner{
    margin-top:130px; 
}
.banner-wrap{
    background-color:#F5F8FA;
}
.bnr-text{
    padding: 96px 0;
}
.wlc-text{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}
.bnr-title{
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 10px;
    color: #366a9f;
}
.bnr-disp{
    font-weight: normal;
    margin-bottom: 20px;
}
.btn-white {
    border: 1px solid #366a9f;
    color: #366a9f;
    border-radius: 5px;
    padding: 8px 24px;
    margin-left: 10px;
}
.btn-white:hover {
    background: #366a9f;
    color: #fff;
    border-radius: 5px;
    padding: 8px 24px;
}
.sec-title {
    padding: 40px;
    text-align: center;
}
.sub-head {
    font-weight: 600;
    font-size: 16px;
}
h1.title {
    font-size: 28px;
    font-weight: 600;
    color: #376a9f;
}
.rgt-cont {
    padding: 15px;
    line-height: 26px;
}
.video-info-list {
    margin-top: 20px;
    line-height: 36px;
}
section.video-sec {
    padding: 30px;
}
.unversity-sec{
    padding: 30px;
    background: #f5f8fa;
}
.sub-cont{
   line-height: 26px;
    text-align: center;
    margin: 10px auto;
}
.video-cont{
    font-weight: 600;
}
.video-info-list img{
    width: 80%;
}
.video-icon {
    position: relative;
}
.video-icon img {
    position: absolute;
    width: 75px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 115px;
}
.unversity-slide ul li {
    display: inline-block;
    padding: 10px;
}
.btn-select button{
    text-transform: uppercase;
}
.btn-select {
    margin-top: 22px;
    display: inline-block;
}
.btn-select .btn-active{
    background: #376a9f;
    color: #fff;
}
.btn-select .active, .list-info.active, .list-info:hover{
    background: #376a9f;
    color: #fff; 
}
.list-info {
    padding: 8px 0;
    border-bottom: 1px solid #d0d0ce;
    cursor: pointer;
}
.sbj-card-inn {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.sbj-body {
    padding: 10px;
}
.sbj-title{
    color:#376a9f;
    font-size: 18px;
    padding: 10px 0;
    line-height: 26px;
    margin-bottom: 10px;
}
.rgt-bdr {
    border-right: 1px solid #d0d0ce;
    height: 26px;
    align-items: center;
}
.sbj-sess{
   bottom: 10px;
    background: #E8F2FA;
    margin: 5px 0;
    padding: 5px;
}
.sbj-cards {
    margin-bottom: 15px;
     -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.10);
box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.10);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.course-title{
    color: #376a9f;
    font-size: 18px;
    margin-bottom: 10px;
}
.course-info{
    padding-top: 15px;
}
ul li {
    display: inline-block;
    padding: 5px;
}
.rating li a{
    color: #376a9f;
}
.card-footer{
    background: transparent;
}
.view-btn {
    text-align: center;
    padding: 10px;
    margin: 20px 0; 
}
.pop-online-course {
    padding: 30px;
}
.scan-sec{
    background: #F5F8FA;
    padding: 20px;
}
.newalatter{
    background: #F5F8FA;
    padding: 40px 0;
}
.ply-img{
    width: 185px;
}
.play-info{
    text-align: center;
}
h1.scan-title {
    font-size: 36px;
    color: #366a9f;
    margin-bottom: 20px;
    margin: 0 auto 14px;
}
.blog-mnth span{
   background: #F5823B;
    color: #fff;
    padding: 6px;
    margin-bottom: 8px;
    display: inline-block;
}
.blog-title{
    color: #366a9f;
    margin-bottom: 8px;
}
.blog-card-body .card{
    border:  transparent;
    -webkit-box-shadow: 00px 0px 5px 3px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.10);
box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.10);
}
p.read-more {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: #F5823B;
    font-size: 14px;
    cursor: pointer;
}
h5.title{
    color:#366a9f; 
}
.btn-active{
    background: #366a9f;
    color: #fff;
}
.read-block {
    margin-bottom: 50px;
}
footer{
    background: #231F20;
    padding: 20px 0;
}
.f-left-menu a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.f-left-menu li:hover {
    border-bottom: 1px solid #fff;
}
.f-right-menu a {
    color: #fff;
}
.copyrt {
    background: #131313;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.rating{
    color: rgb(59, 56, 238);
}